.offset-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    text-align: center;
    & > div {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5rem $padding;
    }
}
