nav {
    padding-top: 1rem;
    position: relative;
    top: 0;
    z-index: 15;
    width: 100%;
    padding: $padding;
    .nav-links {
        li {
            display: inline;
            padding: 0 0.5rem;
        }
    }
    a {
        color: #555;
        transition: color 0.25s ease-in-out;
        &:hover {
            color: #001;
        }
        .count-container {
            position: relative;
            .cart-count {
                position: absolute;
                border-radius: 50%;
                width: 13px;
                height: 13px;
                background: #fff;
                color: #666;
                font-size: 0.5rem;
                text-align: center;
                right: -7px;
                top: -5px;
                border: 1px solid #666;
            }
        }
    }
    &#home-nav {
        position: absolute;
        a {
            color: #eee;
            &:hover {
                color: #fff;
            }
            .count-container {
                background: #001;
            }
        }
    }
}

.page-title {
    background: $primary-color;
    & > div {
        padding: $padding;
        color: #fff;
        max-width: $max-width;
    }
}
