.standalone-flex {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 1.5rem;
    section {
        flex: 1;
    }
    .product-info {
        padding-left: 2.5rem;
        h3 {
            color: #001;
        }
        .price {
            font-family: "Prata", serif;
            text-align: right;
        }
    }
    .form-flex {
        display: flex;
        margin: $padding 0rem;
        align-items: center;
        input,
        section {
            flex: 1;
            &:nth-child(1) {
                margin-right: $padding;
            }
        }
    }
}
