<div class="full-width centered">
    <!-- Slider main container -->
    <div class="swiper-container" id="full-swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src={{ "slider-fun.jpg" | asset_url }} alt="" />
                <article>
                    <section>
                        <h2>Slider Header</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Delectus officia praesentium modi illo
                            distinctio, necessitatibus pariatur amet optio? Eum
                            nisi nobis architecto vel obcaecati quasi numquam
                            nesciunt unde vitae ducimus.
                        </p>
                        <a href="#" class="button is-normal is-success"
                            >Click Me</a
                        >
                    </section>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/800x450" alt="" />
                <article>
                    <section>
                        <h2>Slider Header</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Delectus officia praesentium modi illo
                            distinctio, necessitatibus pariatur amet optio? Eum
                            nisi nobis architecto vel obcaecati quasi numquam
                            nesciunt unde vitae ducimus.
                        </p>
                        <a href="#" class="button is-normal is-success"
                            >Click Me</a
                        >
                    </section>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/800x450" alt="" />
                <article>
                    <section>
                        <h2>Slider Header</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Delectus officia praesentium modi illo
                            distinctio, necessitatibus pariatur amet optio? Eum
                            nisi nobis architecto vel obcaecati quasi numquam
                            nesciunt unde vitae ducimus.
                        </p>
                        <a href="#" class="button is-normal is-success"
                            >Click Me</a
                        >
                    </section>
                </article>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="main-wrapper centered xy-padding">
    <div class="spacer"></div>
    <div class="offset-grid">
        <div><h1>CBD Cooking Oil</h1></div>
        <div>
            <img
                src="https://via.placeholder.com/800x450"
                loading="lazy"
                alt=""
            />
        </div>
        <div>
            <img
                src="https://via.placeholder.com/800x450"
                loading="lazy"
                alt=""
            />
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cumque
            maxime quo porro quasi autem animi.
        </div>
        <div>
            <article>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                cumque maxime quo porro quasi autem animi.
            </article>
        </div>
        <div>
            <img
                src="https://via.placeholder.com/800x450"
                loading="lazy"
                alt=""
            />
        </div>
    </div>
</div>
<div class="main-wrapper centered xy-padding">
    {% include 'standalone' %}
</div>
